<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <style>
  table,th,td {
    border: 1px solid black
  }
  </style>
  <% include ../views/partial/style %>
</head>
<body>
  
  <h1 style="text-align:center">Welcome To alcohol</h1>
  
  <br>
    <form style="text-align:center" method="post">
      Username  : <br>
      <input type="text" name="Username" required><br><br>
      Password       : <br>
      <input type="password" name="Password" required><br><br>
      
      <input type='submit' value='Login'>
    </form>
</html>